In [18]:
# dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [19]:
# Make a reference to the csv file
Athlete_csv = Path("Olympic_Athlete_bio_history.csv")
medals_csv = Path('Olympic_Athlete_Event_results.csv')

# Import the csv file as a DataFrame
Athlete_df = pd.read_csv(Athlete_csv, encoding="utf-8")
medals_df = pd.read_csv(medals_csv, encoding = "utf-8")

# Check the special characters imported correctly
Athlete_df.head()

,athlete_id,name,sex,born,height,weight,country,country_noc
0,65649,Ivanka Bonova,Female,4-Apr-49,166.0,55,Bulgaria,BUL
1,112510,Nataliya Uryadova,Female,15-Mar-77,184.0,70,Russian Federation,RUS
2,114973,Essa Ismail Rashed,Male,14-Dec-86,165.0,55,Qatar,QAT
3,30359,Péter Boros,Male,12-Jan-08,NaN,NaN,Hungary,HUN
4,50557,Rudolf Piowatý,Male,28-Apr-00,NaN,NaN,Czechoslovakia,TCH

In [20]:
Athlete_df.columns

Index(['athlete_id', 'name', 'sex', 'born', 'height', 'weight', 'country',
       'country_noc'],
      dtype='object')

In [21]:
# Dropping any height,weight that does not have a value.
Athlete_df.dropna()

,athlete_id,name,sex,born,height,weight,country,country_noc
0,65649,Ivanka Bonova,Female,4-Apr-49,166.0,55,Bulgaria,BUL
1,112510,Nataliya Uryadova,Female,15-Mar-77,184.0,70,Russian Federation,RUS
2,114973,Essa Ismail Rashed,Male,14-Dec-86,165.0,55,Qatar,QAT
6,133041,Vincent Riendeau,Male,13-Dec-96,178.0,68,Canada,CAN
7,110425,Tanja Morel,Female,4-Oct-75,164.0,58,Switzerland,SUI
...,...,...,...,...,...,...,...,...
155854,26283,Muhaisin Al-Jamaan,Male,6-Apr-66,175.0,62,Kingdom of Saudi Arabia,KSA
155856,23748,Todd Makler,Male,8-Jan-46,183.0,75,United States,USA
155857,58581,Géza Hollósi,Male,2-May-38,175.0,79,Hungary,HUN
155859,69900,Alexander Thieme,Male,13-Jan-54,187.0,84,East Germany,GDR
155860,74003,Sunday Bada,Male,22-Jun-69,188.0,79,Nigeria,NGR

In [32]:
# Make a reference to the csv file
medals_csv = Path('Olympic_Athlete_Event_results.csv')

# Import the csv file as a DataFrame
medals_df = pd.read_csv(medals_csv, encoding = "utf-8")

# Check the special characters imported correctly
medals_df.head()

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,NaN,False
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,NaN,False
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,NaN,False
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,NaN,False
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,NaN,False

In [33]:
medals_df.columns

Index(['edition', 'edition_id', 'country_noc', 'sport', 'event', 'result_id',
       'athlete', 'athlete_id', 'pos', 'medal', 'isTeamSport'],
      dtype='object')

In [46]:
# looking at Dtypes
medals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316834 entries, 0 to 316833
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      316834 non-null  object
 1   edition_id   316834 non-null  int64
 2   country_noc  316834 non-null  object
 3   sport        316834 non-null  object
 4   event        316834 non-null  object
 5   result_id    316834 non-null  int64
 6   athlete      316834 non-null  object
 7   athlete_id   316834 non-null  int64
 8   pos          316834 non-null  object
 9   medal        316834 non-null  object
 10  isTeamSport  316834 non-null  bool
dtypes: bool(1), int64(3), object(7)
memory usage: 24.5+ MB

In [56]:
# Casting medal to string
medals_df['medal']=medals_df['medal'].astype('string')

In [57]:
# verifying change to medal column
medals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316834 entries, 0 to 316833
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      316834 non-null  object
 1   edition_id   316834 non-null  int64
 2   country_noc  316834 non-null  object
 3   sport        316834 non-null  object
 4   event        316834 non-null  object
 5   result_id    316834 non-null  int64
 6   athlete      316834 non-null  object
 7   athlete_id   316834 non-null  int64
 8   pos          316834 non-null  object
 9   medal        316834 non-null  string
 10  isTeamSport  316834 non-null  bool
dtypes: bool(1), int64(3), object(6), string(1)
memory usage: 24.5+ MB

In [52]:
# replacing NaN with 0
medals_df['medal'] = medals_df['medal'].fillna(0)
medals_df.sample(20)

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
3267,1976 Summer Olympics,19,BER,Boxing,"Heavyweight, Men",24804,Clarence Hill,7569,3,Bronze,False
47863,1936 Summer Olympics,11,TCH,Athletics,"Shot Put, Men",58336,František Douda,76603,7,0,False
263814,1988 Summer Olympics,22,URS,Swimming,"4 × 100 metres Medley Relay, Men",7435,Dmitry Volkov,50926,3,Bronze,True
60113,1972 Summer Olympics,18,AUT,Fencing,"Épée, Individual, Men",97028,Roland Losert,21183,5 p3 r2/5,0,False
158523,2016 Summer Olympics,59,JPN,Athletics,"Javelin Throw, Women",359267,Yuki Ebihara,120922,21 r1/2,0,False
147550,2010 Winter Olympics,57,SVK,Alpine Skiing,"Giant Slalom, Women",924555,Veronika Zuzulová,101740,DNF,0,False
32943,1948 Summer Olympics,12,ARG,Cycling Track,"Team Pursuit, 4,000 metres, Men",153605,Julio Alba,13335,2 h3 r2/5,0,True
52994,1912 Summer Olympics,6,DEN,Shooting,"Military Rifle, 200, 400, 500 and 600 metres, ...",51579,Jens Hajslund,41764,8,0,True
268195,1948 Summer Olympics,12,YUG,Football,"Football, Men",33663,Franjo Šoštarić,27984,2,Silver,True
255628,1996 Summer Olympics,24,UKR,Wrestling,"Bantamweight, Greco-Roman, Men",132560,Ruslan Khakymov,60422,4,0,False
10231,2000 Summer Olympics,25,COL,Athletics,"200 metres, Women",65704,Felipa Palacios,66641,4 h1 r3/4,0,False
208428,1968 Summer Olympics,17,GBR,Athletics,"Long Jump, Women",60947,Sheila Sherwood,68750,2,Silver,False
288515,1972 Summer Olympics,18,SWE,Shooting,"Rapid-Fire Pistol, 25 metres, Open",51722,Curt Andersson,44136,31,0,False
218644,1952 Summer Olympics,13,ITA,Fencing,"Sabre, Individual, Men",86553,Gastone Darè,22655,4,0,False
254433,1968 Summer Olympics,17,VEN,Shooting,"Small-Bore Rifle, Prone, 50 metres, Open",51711,Enrico Forcella,44815,44,0,False
60557,1980 Summer Olympics,20,AUT,Swimming,"100 metres Butterfly, Women",6915,Sonja Hausladen,45332,16,0,False
133023,2002 Winter Olympics,47,NZL,Alpine Skiing,"Slalom, Men",1465,Jesse Teat,101802,DNF,0,False
284412,1912 Summer Olympics,6,SWE,Diving,"Plain High, Men",54036,Hjalmar Johansson,50410,2,Silver,False
283652,2022 Winter Olympics,62,SUI,Snowboarding,"Team Cross, Mixed",19020813,Kalle Koblet,138103,7,0,True
215747,2020 Summer Olympics,61,GBR,Tennis,"Singles, Men",19004600,Liam Broady,147658,9,0,False

In [58]:
# Replacing the Gold, Silver, Bronze with the value of 1 to indicate medal was won, 0 represents no medal
medals_df['medal'] = medals_df['medal'].replace(to_replace=['Gold', 'Silver', 'Bronze'], value = "1")

In [59]:
medals_df.sample(20)

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
11180,1998 Winter Olympics,46,CRO,Alpine Skiing,"Combined, Women",1455,Janica Kostelić,99432,8,0,False
4371,2016 Summer Olympics,59,CAF,Taekwondo,"Featherweight, Men",351326,Patrick Boui,126878,11,0,False
34135,1976 Summer Olympics,19,ARG,Swimming,"100 metres Butterfly, Women",6686,Rossana Juncos,44932,32,0,False
147458,2006 Winter Olympics,49,SVK,Ice Hockey,"Ice Hockey, Men",20848,Jozef Stümpel,102318,5,0,True
178165,1984 Summer Olympics,21,KOR,Shooting,"Air Rifle, 10 metres, Women",51773,Park Jeong-A,43155,11,0,False
177470,1964 Summer Olympics,16,KOR,Artistic Gymnastics,"Team All-Around, Men",70252,Kim Chung-Tae,30642,13,0,True
77414,2020 Summer Olympics,61,LTU,Weightlifting,"Heavyweight, Men",19002065,Arnas Šidiškis,145148,11,0,False
245839,1980 Summer Olympics,20,FRA,Canoe Sprint,"Kayak Doubles, 500 metres, Men",255607,Alain Lebas,9651,4,0,True
232269,1976 Summer Olympics,19,POL,Boxing,"Light-Middleweight, Men",24713,Jerzy Rybicki,7769,1,1,False
43394,1976 Summer Olympics,19,BRA,Volleyball,"Volleyball, Men",37219,William,52063,7,0,True
159463,2020 Summer Olympics,61,JPN,Handball,"Handball, Women",19001517,Shio Fujii,144386,12,0,True
105124,2016 Summer Olympics,59,PUR,Judo,"Middleweight, Women",355090,María Pérez,131457,9,0,False
81120,1960 Summer Olympics,15,AUS,Rowing,"Double Sculls, Men",158322,Ian Tutty,35536,5 h2 r2/3,0,True
286330,1948 Summer Olympics,12,SWE,Artistic Gymnastics,"Team All-Around, Women",70149,Karin Lindberg,29097,4,0,True
129042,1976 Summer Olympics,19,SMR,Athletics,"High Jump, Women",62056,Giuseppina Grassi,75643,AC r1/2,0,False
11679,2012 Summer Olympics,54,CRO,Handball,"Handball, Men",314000,Damir Bičanić,123107,3,1,True
50497,1980 Summer Olympics,20,TCH,Handball,"Handball, Women",34667,Jolana Némethová,32756,5,0,True
236860,1900 Summer Olympics,2,FRA,Ballooning,"Longest time travelled (#4), Second Degree, Open",930002,Jacques Fauré,890620,3,0,True
97183,1972 Summer Olympics,18,MGL,Wrestling,"Lightweight, Freestyle, Men",126551,Tsedendambyn Natsagdorj,59409,4,0,False
69313,1960 Summer Olympics,15,IRL,Equestrian Eventing,"Team, Men",185181,Ian Hume-Dudgeon,11900,6,0,True

In [60]:
# Mergine athlete and even results spreadsheet.
olympic_medal_df = pd.merge(Athlete_df,  
                      medals_df,  
                      on ='athlete_id', 
                      how ='left')

In [65]:
# dropping repeat or unnecessary columns
olympic_medal_df = olympic_medal_df.drop(["country_noc_x","country_noc_y","athlete", "result_id" ], axis=1)
olympic_medal_df

,athlete_id,name,sex,born,height,weight,country,edition,edition_id,sport,event,pos,medal,isTeamSport
0,65649,Ivanka Bonova,Female,4-Apr-49,166.0,55,Bulgaria,1976 Summer Olympics,19,Athletics,"4 × 400 metres Relay, Women",5 h2 r1/2,0,True
1,65649,Ivanka Bonova,Female,4-Apr-49,166.0,55,Bulgaria,1980 Summer Olympics,20,Athletics,"4 × 400 metres Relay, Women",AC r2/2,0,True
2,112510,Nataliya Uryadova,Female,15-Mar-77,184.0,70,Russian Federation,2008 Summer Olympics,53,Beach Volleyball,"Beach Volleyball, Women",19,0,True
3,114973,Essa Ismail Rashed,Male,14-Dec-86,165.0,55,Qatar,2008 Summer Olympics,53,Athletics,"10,000 metres, Men",20,0,False
4,30359,Péter Boros,Male,12-Jan-08,NaN,NaN,Hungary,1932 Summer Olympics,10,Artistic Gymnastics,"Individual All-Around, Men",19,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316822,74003,Sunday Bada,Male,22-Jun-69,188.0,79,Nigeria,1992 Summer Olympics,23,Athletics,"4 × 400 metres Relay, Men",5,0,True
316823,74003,Sunday Bada,Male,22-Jun-69,188.0,79,Nigeria,1996 Summer Olympics,24,Athletics,"400 metres, Men",5 h2 r3/4,0,False
316824,74003,Sunday Bada,Male,22-Jun-69,188.0,79,Nigeria,1996 Summer Olympics,24,Athletics,"4 × 400 metres Relay, Men",AC h2 r2/3,0,True
316825,74003,Sunday Bada,Male,22-Jun-69,188.0,79,Nigeria,2000 Summer Olympics,25,Athletics,"400 metres, Men",7 h4 r2/4,0,False
316826,74003,Sunday Bada,Male,22-Jun-69,188.0,79,Nigeria,2000 Summer Olympics,25,Athletics,"4 × 400 metres Relay, Men",1,1,True