In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np
from pathlib import Path

In [6]:
# Create path to file
medallists24 = Path('../medallists.csv')

In [7]:
# import CSV file
medallists24_df = pd.read_csv(medallists24, encoding="utf-8", low_memory = True)
medallists24_df.head()

,medal_date,medal_type,medal_code,name,gender,country,country_code,nationality,team,team_gender,discipline,event,event_type,url_event,birth_date,code
0,7/27/2024,Gold Medal,1,EVENEPOEL Remco,Male,Belgium,BEL,Belgium,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1/25/2000,1903136
1,7/27/2024,Silver Medal,2,GANNA Filippo,Male,Italy,ITA,Italy,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,7/25/1996,1923520
2,7/27/2024,Bronze Medal,3,van AERT Wout,Male,Belgium,BEL,Belgium,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,9/15/1994,1903147
3,7/27/2024,Gold Medal,1,BROWN Grace,Female,Australia,AUS,Australia,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,7/7/1992,1940173
4,7/27/2024,Silver Medal,2,HENDERSON Anna,Female,Great Britain,GBR,Great Britain,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,11/14/1998,1912525

In [10]:
medallists24_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2271 entries, 0 to 2270
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   medal_date    2271 non-null   object
 1   medal_type    2271 non-null   object
 2   medal_code    2271 non-null   int64
 3   name          2252 non-null   object
 4   gender        2252 non-null   object
 5   country       2252 non-null   object
 6   country_code  2252 non-null   object
 7   nationality   2250 non-null   object
 8   team          1502 non-null   object
 9   team_gender   1502 non-null   object
 10  discipline    2271 non-null   object
 11  event         2271 non-null   object
 12  event_type    2271 non-null   object
 13  url_event     2271 non-null   object
 14  birth_date    2252 non-null   object
 15  code          2271 non-null   object
dtypes: int64(1), object(15)
memory usage: 284.0+ KB

In [13]:
medallists24_df.columns

Index(['medal_date', 'medal_type', 'medal_code', 'name', 'gender', 'country',
       'country_code', 'nationality', 'team', 'team_gender', 'discipline',
       'event', 'event_type', 'url_event', 'birth_date', 'code'],
      dtype='object')

In [43]:
# search and find field for 'Code' column so I can find incorrect coding.

# medallists24_df[medallists24_df['code']=='SWAWTEAM2---CHN01']
medallists24_df.loc[654:670
                    ]

,medal_date,medal_type,medal_code,name,gender,country,country_code,nationality,team,team_gender,discipline,event,event_type,url_event,birth_date,code
654,8/10/2024,Gold Medal,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artistic Swimming,Duet,COUP,/en/paris-2024/results/artistic-swimming/duet/...,NaN,SWAWTEAM2---CHN01
655,8/10/2024,Silver Medal,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artistic Swimming,Duet,COUP,/en/paris-2024/results/artistic-swimming/duet/...,NaN,SWAWTEAM2---GBR01
656,8/10/2024,Bronze Medal,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artistic Swimming,Duet,COUP,/en/paris-2024/results/artistic-swimming/duet/...,NaN,SWAWTEAM2---NED01
657,8/10/2024,Gold Medal,1,INGEBRIGTSEN Jakob,Male,Norway,NOR,Norway,NaN,NaN,Athletics,Men's 5000m,ATH,/en/paris-2024/results/athletics/men-s-5000m/f...,9/19/2000,1898250
658,8/10/2024,Silver Medal,2,KWEMOI Ronald,Male,Kenya,KEN,Kenya,NaN,NaN,Athletics,Men's 5000m,ATH,/en/paris-2024/results/athletics/men-s-5000m/f...,9/19/1995,1963077
659,8/10/2024,Bronze Medal,3,FISHER Grant,Male,United States,USA,United States,NaN,NaN,Athletics,Men's 5000m,ATH,/en/paris-2024/results/athletics/men-s-5000m/f...,4/22/1997,1960959
660,8/10/2024,Gold Medal,1,WANYONYI Emmanuel,Male,Kenya,KEN,Kenya,NaN,NaN,Athletics,Men's 800m,ATH,/en/paris-2024/results/athletics/men-s-800m/fn...,8/1/2004,1910412
661,8/10/2024,Silver Medal,2,AROP Marco,Male,Canada,CAN,Canada,NaN,NaN,Athletics,Men's 800m,ATH,/en/paris-2024/results/athletics/men-s-800m/fn...,9/20/1998,1974048
662,8/10/2024,Bronze Medal,3,SEDJATI Djamel,Male,Algeria,ALG,Algeria,NaN,NaN,Athletics,Men's 800m,ATH,/en/paris-2024/results/athletics/men-s-800m/fn...,5/3/1999,1963520
663,8/10/2024,Gold Medal,1,KERR Hamish,Male,New Zealand,NZL,New Zealand,NaN,NaN,Athletics,Men's High Jump,ATH,/en/paris-2024/results/athletics/men-s-high-ju...,8/17/1996,1926713
664,8/10/2024,Silver Medal,2,McEWEN Shelby,Male,United States,USA,United States,NaN,NaN,Athletics,Men's High Jump,ATH,/en/paris-2024/results/athletics/men-s-high-ju...,4/6/1996,1965306
665,8/10/2024,Bronze Medal,3,BARSHIM Mutaz Essa,Male,Qatar,QAT,Qatar,NaN,NaN,Athletics,Men's High Jump,ATH,/en/paris-2024/results/athletics/men-s-high-ju...,6/24/1991,1566681
666,8/10/2024,Gold Medal,1,TOLA Tamirat,Male,Ethiopia,ETH,Ethiopia,NaN,NaN,Athletics,Men's Marathon,ATH,/en/paris-2024/results/athletics/men-s-maratho...,8/11/1991,1901284
667,8/10/2024,Silver Medal,2,ABDI Bashir,Male,Belgium,BEL,Belgium,NaN,NaN,Athletics,Men's Marathon,ATH,/en/paris-2024/results/athletics/men-s-maratho...,2/10/1989,1942753
668,8/10/2024,Bronze Medal,3,KIPRUTO Benson,Male,Kenya,KEN,Kenya,NaN,NaN,Athletics,Men's Marathon,ATH,/en/paris-2024/results/athletics/men-s-maratho...,3/17/1991,1910555
669,8/10/2024,Gold Medal,1,RUSSELL Masai,Female,United States,USA,United States,NaN,NaN,Athletics,Women's 100m Hurdles,ATH,/en/paris-2024/results/athletics/women-s-100m-...,6/17/2000,1960169
670,8/10/2024,Silver Medal,2,SAMBA-MAYELA Cyrena,Female,France,FRA,France,NaN,NaN,Athletics,Women's 100m Hurdles,ATH,/en/paris-2024/results/athletics/women-s-100m-...,10/31/2000,1911932

In [44]:
# drop incorrect code rows
medallists24_df=medallists24_df.drop([654,655,656], axis=0)

In [45]:
# change code column to int64 so I can merge dataframe.
medallists24_df['code']=medallists24_df['code'].astype('Int64')

In [8]:
athletes24 = Path('../athletes.csv')

In [9]:
athletes24_df = pd.read_csv(athletes24, encoding="utf-8", low_memory = True)
athletes24_df.head()

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1532872,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...,"Footballer Zinedine Zidane (FRA), World Cup wi...","His father, Gevorg Aleksanyan","""Wrestling is my life."" (mediamax.am. 18 May 2...",NaN,NaN,NaN
1,1532873,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,NaN,Armenian,NaN,NaN,NaN,NaN,"""To become a good athlete, you first have to b...","Uncle, Roman Amoyan (wrestling), 2008 Olympic ...",NaN,NaN
2,1532874,GALSTYAN Slavik,GALSTYAN S,Slavik GALSTYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,NaN,Armenian,Personal: Martin Alekhanyan (ARM).<br>National...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,HARUTYUNYAN Arsen,HARUTYUNYAN A,Arsen HARUTYUNYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,"Wife, Diana (married October 2022). Daughter, ...",Armenian,National: Habetnak Kurghinyan,While doing karate he noticed wrestlers traini...,"Wrestler Armen Nazaryan (ARM, BUL), two-time O...",NaN,"“Nothing is impossible, set goals in front of ...",NaN,NaN,NaN
4,1532945,TEVANYAN Vazgen,TEVANYAN V,Vazgen TEVANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,"Wife, Sona (married November 2023)","Armenian, Russian",National: Habetnak Kurghinyan (ARM),“My family did not like wrestling very much. A...,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
athletes24_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11110 entries, 0 to 11109
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   code                11110 non-null  int64
 1   name                11110 non-null  object
 2   name_short          11110 non-null  object
 3   name_tv             11110 non-null  object
 4   gender              11110 non-null  object
 5   function            11110 non-null  object
 6   country_code        11110 non-null  object
 7   country             11110 non-null  object
 8   country_full        11110 non-null  object
 9   nationality         11091 non-null  object
 10  nationality_full    11091 non-null  object
 11  nationality_code    11091 non-null  object
 12  height              11110 non-null  int64
 13  weight              11092 non-null  float64
 14  disciplines         11110 non-null  object
 15  events              11110 non-null  object
 16  birth_date          11110 non-null  object
 17  birth_place         8713 non-null   object
 18  birth_country       9461 non-null   object
 19  residence_place     6792 non-null   object
 20  residence_country   8276 non-null   object
 21  nickname            2963 non-null   object
 22  hobbies             4201 non-null   object
 23  occupation          9571 non-null   object
 24  education           5531 non-null   object
 25  family              5555 non-null   object
 26  lang                10588 non-null  object
 27  coach               8212 non-null   object
 28  reason              5838 non-null   object
 29  hero                3312 non-null   object
 30  influence           2151 non-null   object
 31  philosophy          2779 non-null   object
 32  sporting_relatives  2516 non-null   object
 33  ritual              856 non-null    object
 34  other_sports        1057 non-null   object
dtypes: float64(1), int64(2), object(32)
memory usage: 3.0+ MB

In [46]:
Athlete_medal24_df = pd.merge(athletes24_df,  
                      medallists24_df,  
                      on ='code', 
                      how ='left')
Athlete_medal24_df.head()

,code,name_x,name_short,name_tv,gender_x,function,country_code_x,country_x,country_full,nationality_x,...,country_y,country_code_y,nationality_y,team,team_gender,discipline,event,event_type,url_event,birth_date_y
0,1532872,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,Armenia,ARM,Armenia,NaN,NaN,Wrestling,Men's Greco-Roman 97kg,HATH,/en/paris-2024/results/wrestling/men-s-greco-r...,10/21/1991
1,1532873,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,Armenia,ARM,Armenia,NaN,NaN,Wrestling,Men's Greco-Roman 77kg,HATH,/en/paris-2024/results/wrestling/men-s-greco-r...,1/22/1999
2,1532874,GALSTYAN Slavik,GALSTYAN S,Slavik GALSTYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,HARUTYUNYAN Arsen,HARUTYUNYAN A,Arsen HARUTYUNYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1532945,TEVANYAN Vazgen,TEVANYAN V,Vazgen TEVANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
Athlete_medal24_df.columns

Index(['code', 'name_x', 'name_short', 'name_tv', 'gender_x', 'function',
       'country_code_x', 'country_x', 'country_full', 'nationality_x',
       'nationality_full', 'nationality_code', 'height', 'weight',
       'disciplines', 'events', 'birth_date_x', 'birth_place', 'birth_country',
       'residence_place', 'residence_country', 'nickname', 'hobbies',
       'occupation', 'education', 'family', 'lang', 'coach', 'reason', 'hero',
       'influence', 'philosophy', 'sporting_relatives', 'ritual',
       'other_sports', 'medal_date', 'medal_type', 'medal_code', 'name_y',
       'gender_y', 'country_y', 'country_code_y', 'nationality_y', 'team',
       'team_gender', 'discipline', 'event', 'event_type', 'url_event',
       'birth_date_y'],
      dtype='object')

In [49]:
Athlete_medal24_df = Athlete_medal24_df.drop(['name_x', 'name_short', 'name_tv', 'gender_x',
       'country_code_x', 'country_x', 'nationality_x',
       'nationality_full','birth_date_x', 'birth_place', 'birth_country',
       'residence_place', 'residence_country', 'nickname', 'hobbies',
       'occupation', 'education', 'family', 'lang', 'coach', 'reason', 'hero',
       'influence', 'philosophy', 'sporting_relatives', 'ritual',
       'other_sports','name_y',
       'gender_y', 'country_y', 'country_code_y', 'nationality_y',
       'team_gender', 'url_event',
       'birth_date_y' ], axis=1)
Athlete_medal24_df.head(15)

KeyError: "['name_x', 'name_short', 'name_tv', 'gender_x', 'country_code_x', 'country_x', 'nationality_x', 'nationality_full', 'birth_date_x', 'birth_place', 'birth_country', 'residence_place', 'residence_country', 'nickname', 'hobbies', 'occupation', 'education', 'family', 'lang', 'coach', 'reason', 'hero', 'influence', 'philosophy', 'sporting_relatives', 'ritual', 'other_sports', 'name_y', 'gender_y', 'country_y', 'country_code_y', 'nationality_y', 'team_gender', 'url_event', 'birth_date_y'] not found in axis"

In [51]:
Athlete_medal24_df.fillna(0)

,code,function,country_full,nationality_code,height,weight,disciplines,events,medal_date,medal_type,medal_code,team,discipline,event,event_type
0,1532872,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Greco-Roman 97kg""]",8/7/2024,Silver Medal,2.0,0,Wrestling,Men's Greco-Roman 97kg,HATH
1,1532873,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Greco-Roman 77kg""]",8/7/2024,Bronze Medal,3.0,0,Wrestling,Men's Greco-Roman 77kg,HATH
2,1532874,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Greco-Roman 67kg""]",0,0,0.0,0,0,0,0
3,1532944,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Freestyle 57kg""]",0,0,0.0,0,0,0,0
4,1532945,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Freestyle 65kg""]",0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11347,4982175,Athlete,Trinidad and Tobago,TTO,177,0.0,['Athletics'],"[""Men's 4 x 400m Relay""]",0,0,0.0,0,0,0,0
11348,4982762,Athlete,Ukraine,UKR,0,0.0,['Judo'],['Women +78 kg'],0,0,0.0,0,0,0,0
11349,4983537,Athlete,Uganda,UGA,174,0.0,['Athletics'],"[""Women's 10,000m""]",0,0,0.0,0,0,0,0
11350,4986655,Athlete,Equatorial Guinea,GEQ,165,0.0,['Athletics'],"[""Women's 100m""]",0,0,0.0,0,0,0,0
11351,9460001,Athlete,Italy,0,0,0.0,['Wrestling'],"[""Women's Freestyle 50kg""]",0,0,0.0,0,0,0,0

In [52]:
Athlete_medal24_df['medal_type'] = Athlete_medal24_df['medal_type'].replace(to_replace=['Gold Medal', 'Silver Medal', 'Bronze Medal'], value = "1")

In [54]:
# Dropping additional rows
Athlete_medal24_df.drop(['disciplines', 'medal_code'], axis=1)

,code,function,country_full,nationality_code,height,weight,events,medal_date,medal_type,team,discipline,event,event_type
0,1532872,Athlete,Armenia,ARM,0,0.0,"[""Men's Greco-Roman 97kg""]",8/7/2024,1,NaN,Wrestling,Men's Greco-Roman 97kg,HATH
1,1532873,Athlete,Armenia,ARM,0,0.0,"[""Men's Greco-Roman 77kg""]",8/7/2024,1,NaN,Wrestling,Men's Greco-Roman 77kg,HATH
2,1532874,Athlete,Armenia,ARM,0,0.0,"[""Men's Greco-Roman 67kg""]",NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,Athlete,Armenia,ARM,0,0.0,"[""Men's Freestyle 57kg""]",NaN,NaN,NaN,NaN,NaN,NaN
4,1532945,Athlete,Armenia,ARM,0,0.0,"[""Men's Freestyle 65kg""]",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11347,4982175,Athlete,Trinidad and Tobago,TTO,177,0.0,"[""Men's 4 x 400m Relay""]",NaN,NaN,NaN,NaN,NaN,NaN
11348,4982762,Athlete,Ukraine,UKR,0,0.0,['Women +78 kg'],NaN,NaN,NaN,NaN,NaN,NaN
11349,4983537,Athlete,Uganda,UGA,174,0.0,"[""Women's 10,000m""]",NaN,NaN,NaN,NaN,NaN,NaN
11350,4986655,Athlete,Equatorial Guinea,GEQ,165,0.0,"[""Women's 100m""]",NaN,NaN,NaN,NaN,NaN,NaN
11351,9460001,Athlete,Italy,NaN,0,0.0,"[""Women's Freestyle 50kg""]",NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
Athlete_medal24_df = Athlete_medal24_df.fillna(0)
Athlete_medal24_df

,code,function,country_full,nationality_code,height,weight,disciplines,events,medal_date,medal_type,medal_code,team,discipline,event,event_type
0,1532872,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Greco-Roman 97kg""]",8/7/2024,1,2.0,0,Wrestling,Men's Greco-Roman 97kg,HATH
1,1532873,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Greco-Roman 77kg""]",8/7/2024,1,3.0,0,Wrestling,Men's Greco-Roman 77kg,HATH
2,1532874,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Greco-Roman 67kg""]",0,0,0.0,0,0,0,0
3,1532944,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Freestyle 57kg""]",0,0,0.0,0,0,0,0
4,1532945,Athlete,Armenia,ARM,0,0.0,['Wrestling'],"[""Men's Freestyle 65kg""]",0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11347,4982175,Athlete,Trinidad and Tobago,TTO,177,0.0,['Athletics'],"[""Men's 4 x 400m Relay""]",0,0,0.0,0,0,0,0
11348,4982762,Athlete,Ukraine,UKR,0,0.0,['Judo'],['Women +78 kg'],0,0,0.0,0,0,0,0
11349,4983537,Athlete,Uganda,UGA,174,0.0,['Athletics'],"[""Women's 10,000m""]",0,0,0.0,0,0,0,0
11350,4986655,Athlete,Equatorial Guinea,GEQ,165,0.0,['Athletics'],"[""Women's 100m""]",0,0,0.0,0,0,0,0
11351,9460001,Athlete,Italy,0,0,0.0,['Wrestling'],"[""Women's Freestyle 50kg""]",0,0,0.0,0,0,0,0

In [58]:
Athlete_medal24_df.to_csv('Athlete_medal24_df.csv')

In [60]:
# Run model
loaded_model = load("athlete medal.h5")

NameError: name 'load' is not defined